{% extends 'AmPresenceBundle::layout.html.twig' %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<header>
    <h1>What's up dude ?</h1>
</header>
<section>
    <p>Because I think you have an email adress, you can contact me by <a href="mailto:andrieu.travail@gmail.com">andrieu.travail@gmail.com</a> or just get a call.</p>
    <p> I always respond to requests for <strong>friendly</strong> contact.</p>
</section>

<!-- Example row of columns -->
<section class="row-fluid">
    <h3>Where am I ?</h3>
    <section>
        <p>I love to train and meet new people, so much of my free time is taken up by my participation in events larger French web.</p>
        You can meet me, for example, at these conferences:
        <ul>
            <li><a href="http://parisjs.org/">ParisJs Meetups</li>
            <li><a href="http://www.paris-web.fr/">Paris Web</a></li>
            <li><a href="http://sudweb.fr/2013/">Sud Web</a></li>
            <li><a href="http://paris2013.live.symfony.com/">Symfony Live Paris</a></li>
            <li><a href="http://wiki.mozfr.org/Paris_FirefoxOS_App_Days">Firefox OS AppDays</a></li>
        </ul>
        <p>Currently, I live in <i>Paris</i>.</p>
    </section>
</section>
{% endblock %}