{# presentation #}
<header><h3>{{ 'me.title' | trans }}</h3></header>
<img class="right mglft20" width="100" height="100" src="{{ asset('bundles/ampresence/images/me.jpg')}}" alt="" title=""/>
<p>{{ 'me.firstP' | trans }}</p>
<p>{{ 'me.secondP' | trans }}</p>