{# resources #}
<header><h3>{{ 'resources.title' | trans() }}</h3></header>

<div>
    <h4> HTML5 / CSS3 </h4>
    <ul class="pdlft20">
        <li><a href="http://caniuse.com/">When an I use?</a></li>
        <li><a href="http://cssdeck.com/">CSS Deck</a></li>
        <li><a href="http://www.alsacreations.com/">Alsacréations</a></li>
    </ul>
</div>
<div>
    <h4> PHP5 / Symfony 2 </h4>
    <ul class="pdlft20">
        <li><a href="http://www.symfony.com/">Le site officiel</a></li>
        <li><a href="http://www.siteduzero.com/tutoriel-3-517569-symfony2-un-tutoriel-pour-debuter-avec-le-framework-symfony2.html">Tutoriel d'A. Bacco</a></li>
        <li><a href="http://www.siteduzero.com/tutoriel-3-147180-la-programmation-orientee-objet-en-php.html">Tutoriel PHPOO</a></li>
    </ul>
</div>
<div>
    <h4> Javascript &amp; Frameworks </h4>
    <ul class="pdlft20">
        <li><a href="http://www.siteduzero.com/tutoriel-3-309961-dynamisez-vos-sites-web-avec-javascript.html">Tutoriel Javascript</a></li>
        <li><a href="http://www.siteduzero.com/tutoriel-3-659477-un-site-web-dynamique-avec-jquery.html">Tutoriel jQuery</a></li>
        <li><a href="http://nodejs.org/">nodeJs</a></li>
    </ul>
</div>